<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Blank page | Nifty - Responsive admin template</title>



<!-- ================================================= -->
<!--                 STYLESHEET                        -->
<!-- ================================================= -->


<link rel="stylesheet" href="{{ asset('bundles/Diabete/css/bootstrap.min.css') }}" type="text/css" media="all" />
<!-- Bootstrap Core -->



<!-- Roboto Font -->
<link href="http://fonts.googleapis.com/css?family=Roboto:400,700,300,500" rel="stylesheet" type="text/css">


<link rel="stylesheet" href="{{ asset('bundles/Diabete/css/nifty.min.css') }}" type="text/css" media="all" />



<link rel="stylesheet" href="{{ asset('bundles/Diabete/css/demo/nifty-demo.min.css') }}" type="text/css" media="all" />



<!-- Plugins CSS -->
<link rel="stylesheet" href="{{ asset('bundles/Diabete/css/plugins.min.css') }}" type="text/css" media="all" />





<!--Page load progress bar -->
<link rel="stylesheet" href="{{ asset('bundles/Diabete/js/pace.min.js') }}" type="js" media="all" />


<!-- jQuery Version 2.1.1 -->
<script src={{ asset('bundles/Diabete/js/jquery-2.1.1.min.js') }}></script>
